/* some style */

#main {
    text-align: center;
    cursor: pointer;
}

#header-links {
    text-align: center;
    font-size: 30px;
}

#info {
    margin-bottom: 30px;
}

#resultatDiv {
    border: 5px solid grey;
    border-radius: 15px;
    width:300px;
}

#playerDiv {
    border: 5px solid grey;
    border-radius: 15px;
    width:300px;
    float: right;
    height: 180px;
}

.resultTitle {
    font-size: 35px;
    margin-top: 10px;
}

.result {
    font-size: 15px;
}

#a {
    padding:30px;
}

a:link {
    text-decoration: none;
    color: black;
}

#title {
    color: black;
    text-align: center;
    font-size: 50px;
}

#newGame {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
